#asd

In [ ]:
import numpy as np
import pandas as pd
from pandas import ExcelWriter

 #-- coding:utf-8 --

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
xl_file = pd.ExcelFile('/data/berkay.xlsx')
sh1 = pd.read_excel(xl_file, sheet_name='Sheet1')
sh2 = pd.read_excel(xl_file, sheet_name='Sheet2')

In [ ]:
sh1

      Kod  Miktar
0   MPA01     325
1   MPA02     900
2   MPA03    2250
3   MPA04     450
4   MPA05    4050
5   MPA06    2700
6   MPA07     300
7   MPA08    3000
8   MPA09     326
9   MPA10     900
10  MPA11    2250
11  MPA12     450
12  MPA13    4050
13  MPA14    2700
14  MPA15    5700
15  MPA16    8400
16  MPA17     327
17  MPA18     900
18  MPA19    2250
19  MPA20     450

In [ ]:
sh1.dtypes

Kod       object
Miktar     int64
dtype: object

In [ ]:
sh2

      Müs  Sip Mik
0    Müs1      450
1    Müs2     1000
2    Müs3     1000
3    Müs4      900
4    Müs5      850
5    Müs6     4500
6    Müs7      900
7    Müs8      450
8    Müs9     1350
9   Müs10      600
10  Müs11      700
11  Müs12      800
12  Müs13      900
13  Müs14     1000
14  Müs15     1100
15  Müs16     1200
16  Müs17     1300
17  Müs18     1400
18  Müs19     1500
19  Müs20     1600

In [ ]:
df = pd.concat([sh1,sh2],axis=1)
df

      Kod  Miktar    Müs  Sip Mik
0   MPA01     325   Müs1      450
1   MPA02     900   Müs2     1000
2   MPA03    2250   Müs3     1000
3   MPA04     450   Müs4      900
4   MPA05    4050   Müs5      850
5   MPA06    2700   Müs6     4500
6   MPA07     300   Müs7      900
7   MPA08    3000   Müs8      450
8   MPA09     326   Müs9     1350
9   MPA10     900  Müs10      600
10  MPA11    2250  Müs11      700
11  MPA12     450  Müs12      800
12  MPA13    4050  Müs13      900
13  MPA14    2700  Müs14     1000
14  MPA15    5700  Müs15     1100
15  MPA16    8400  Müs16     1200
16  MPA17     327  Müs17     1300
17  MPA18     900  Müs18     1400
18  MPA19    2250  Müs19     1500
19  MPA20     450  Müs20     1600

In [ ]:
df.dtypes

Kod        object
Miktar      int64
Müs        object
Sip Mik     int64
dtype: object

In [ ]:
df = df.rename(columns={"Müs":"Musteri", "Sip Mik":"Sip_Mik"})
df

      Kod  Miktar Musteri  Sip_Mik
0   MPA01     325    Müs1      450
1   MPA02     900    Müs2     1000
2   MPA03    2250    Müs3     1000
3   MPA04     450    Müs4      900
4   MPA05    4050    Müs5      850
5   MPA06    2700    Müs6     4500
6   MPA07     300    Müs7      900
7   MPA08    3000    Müs8      450
8   MPA09     326    Müs9     1350
9   MPA10     900   Müs10      600
10  MPA11    2250   Müs11      700
11  MPA12     450   Müs12      800
12  MPA13    4050   Müs13      900
13  MPA14    2700   Müs14     1000
14  MPA15    5700   Müs15     1100
15  MPA16    8400   Müs16     1200
16  MPA17     327   Müs17     1300
17  MPA18     900   Müs18     1400
18  MPA19    2250   Müs19     1500
19  MPA20     450   Müs20     1600

In [ ]:
df.columns

Index(['Kod', 'Miktar', 'Musteri', 'Sip_Mik'], dtype='object')

In [ ]:
df.dtypes

Kod        object
Miktar      int64
Musteri    object
Sip_Mik     int64
dtype: object

In [ ]:
df['Musteri'] = df['Musteri'].str.replace('ü','u')

In [ ]:
df["durum"] = (df['Miktar'] - df['Sip_Mik'])
df

      Kod  Miktar Musteri  Sip_Mik  durum
0   MPA01     325    Mus1      450   -125
1   MPA02     900    Mus2     1000   -100
2   MPA03    2250    Mus3     1000   1250
3   MPA04     450    Mus4      900   -450
4   MPA05    4050    Mus5      850   3200
5   MPA06    2700    Mus6     4500  -1800
6   MPA07     300    Mus7      900   -600
7   MPA08    3000    Mus8      450   2550
8   MPA09     326    Mus9     1350  -1024
9   MPA10     900   Mus10      600    300
10  MPA11    2250   Mus11      700   1550
11  MPA12     450   Mus12      800   -350
12  MPA13    4050   Mus13      900   3150
13  MPA14    2700   Mus14     1000   1700
14  MPA15    5700   Mus15     1100   4600
15  MPA16    8400   Mus16     1200   7200
16  MPA17     327   Mus17     1300   -973
17  MPA18     900   Mus18     1400   -500
18  MPA19    2250   Mus19     1500    750
19  MPA20     450   Mus20     1600  -1150

In [ ]:
def kontrol(durum):
  if durum <=0 :
    return False 
    #print("yok")  
  else:
    return True
    #print("var")

In [ ]:
kontrol = df["durum"].apply(kontrol)
kontrol

In [ ]:
df["kontrol"] = kontrol
df

      Kod  Miktar Musteri  Sip_Mik  durum  kontrol
0   MPA01     325    Mus1      450   -125    False
1   MPA02     900    Mus2     1000   -100    False
2   MPA03    2250    Mus3     1000   1250     True
3   MPA04     450    Mus4      900   -450    False
4   MPA05    4050    Mus5      850   3200     True
5   MPA06    2700    Mus6     4500  -1800    False
6   MPA07     300    Mus7      900   -600    False
7   MPA08    3000    Mus8      450   2550     True
8   MPA09     326    Mus9     1350  -1024    False
9   MPA10     900   Mus10      600    300     True
10  MPA11    2250   Mus11      700   1550     True
11  MPA12     450   Mus12      800   -350    False
12  MPA13    4050   Mus13      900   3150     True
13  MPA14    2700   Mus14     1000   1700     True
14  MPA15    5700   Mus15     1100   4600     True
15  MPA16    8400   Mus16     1200   7200     True
16  MPA17     327   Mus17     1300   -973    False
17  MPA18     900   Mus18     1400   -500    False
18  MPA19    2250   Mus19     1500    750     True
19  MPA20     450   Mus20     1600  -1150    False

In [ ]:
df["miktar_450"] = (df['Miktar'] // 450)
df["sip_450"] = (df['Sip_Mik'] // 450)
df["kalan_miktar_450"] = (df['Miktar'] % 450)
df["kalan_sip_450"] = (df['Sip_Mik'] % 450)



df

,Kod,Miktar,Musteri,Sip_Mik,durum,kontrol,miktar_450,sip_450,kalan_miktar_450,kalan_sip_450
0,MPA01,325,Mus1,450,-125,False,0,1,325,0
1,MPA02,900,Mus2,1000,-100,False,2,2,0,100
2,MPA03,2250,Mus3,1000,1250,True,5,2,0,100
3,MPA04,450,Mus4,900,-450,False,1,2,0,0
4,MPA05,4050,Mus5,850,3200,True,9,1,0,400
5,MPA06,2700,Mus6,4500,-1800,False,6,10,0,0
6,MPA07,300,Mus7,900,-600,False,0,2,300,0
7,MPA08,3000,Mus8,450,2550,True,6,1,300,0
8,MPA09,326,Mus9,1350,-1024,False,0,3,326,0
9,MPA10,900,Mus10,600,300,True,2,1,0,150
10,MPA11,2250,Mus11,700,1550,True,5,1,0,250
11,MPA12,450,Mus12,800,-350,False,1,1,0,350
12,MPA13,4050,Mus13,900,3150,True,9,2,0,0
13,MPA14,2700,Mus14,1000,1700,True,6,2,0,100
14,MPA15,5700,Mus15,1100,4600,True,12,2,300,200
15,MPA16,8400,Mus16,1200,7200,True,18,2,300,300
16,MPA17,327,Mus17,1300,-973,False,0,2,327,400
17,MPA18,900,Mus18,1400,-500,False,2,3,0,50
18,MPA19,2250,Mus19,1500,750,True,5,3,0,150
19,MPA20,450,Mus20,1600,-1150,False,1,3,0,250

In [ ]:
df = df[['Musteri', 'Kod', 'Miktar', 'miktar_450', 'kalan_miktar_450', 'Sip_Mik', 'sip_450', 'kalan_sip_450', 'durum', 'kontrol']]
df

,Musteri,Kod,Miktar,miktar_450,kalan_miktar_450,Sip_Mik,sip_450,kalan_sip_450,durum,kontrol
0,Mus1,MPA01,325,0,325,450,1,0,-125,False
1,Mus2,MPA02,900,2,0,1000,2,100,-100,False
2,Mus3,MPA03,2250,5,0,1000,2,100,1250,True
3,Mus4,MPA04,450,1,0,900,2,0,-450,False
4,Mus5,MPA05,4050,9,0,850,1,400,3200,True
5,Mus6,MPA06,2700,6,0,4500,10,0,-1800,False
6,Mus7,MPA07,300,0,300,900,2,0,-600,False
7,Mus8,MPA08,3000,6,300,450,1,0,2550,True
8,Mus9,MPA09,326,0,326,1350,3,0,-1024,False
9,Mus10,MPA10,900,2,0,600,1,150,300,True
10,Mus11,MPA11,2250,5,0,700,1,250,1550,True
11,Mus12,MPA12,450,1,0,800,1,350,-350,False
12,Mus13,MPA13,4050,9,0,900,2,0,3150,True
13,Mus14,MPA14,2700,6,0,1000,2,100,1700,True
14,Mus15,MPA15,5700,12,300,1100,2,200,4600,True
15,Mus16,MPA16,8400,18,300,1200,2,300,7200,True
16,Mus17,MPA17,327,0,327,1300,2,400,-973,False
17,Mus18,MPA18,900,2,0,1400,3,50,-500,False
18,Mus19,MPA19,2250,5,0,1500,3,150,750,True
19,Mus20,MPA20,450,1,0,1600,3,250,-1150,False

In [ ]:
df["son_kalan"] = (df['miktar_450'] - df['sip_450'] )
df

,Musteri,Kod,Miktar,miktar_450,kalan_miktar_450,Sip_Mik,sip_450,kalan_sip_450,durum,kontrol,son_kalan
0,Mus1,MPA01,325,0,325,450,1,0,-125,False,-1
1,Mus2,MPA02,900,2,0,1000,2,100,-100,False,0
2,Mus3,MPA03,2250,5,0,1000,2,100,1250,True,3
3,Mus4,MPA04,450,1,0,900,2,0,-450,False,-1
4,Mus5,MPA05,4050,9,0,850,1,400,3200,True,8
5,Mus6,MPA06,2700,6,0,4500,10,0,-1800,False,-4
6,Mus7,MPA07,300,0,300,900,2,0,-600,False,-2
7,Mus8,MPA08,3000,6,300,450,1,0,2550,True,5
8,Mus9,MPA09,326,0,326,1350,3,0,-1024,False,-3
9,Mus10,MPA10,900,2,0,600,1,150,300,True,1
10,Mus11,MPA11,2250,5,0,700,1,250,1550,True,4
11,Mus12,MPA12,450,1,0,800,1,350,-350,False,0
12,Mus13,MPA13,4050,9,0,900,2,0,3150,True,7
13,Mus14,MPA14,2700,6,0,1000,2,100,1700,True,4
14,Mus15,MPA15,5700,12,300,1100,2,200,4600,True,10
15,Mus16,MPA16,8400,18,300,1200,2,300,7200,True,16
16,Mus17,MPA17,327,0,327,1300,2,400,-973,False,-2
17,Mus18,MPA18,900,2,0,1400,3,50,-500,False,-1
18,Mus19,MPA19,2250,5,0,1500,3,150,750,True,2
19,Mus20,MPA20,450,1,0,1600,3,250,-1150,False,-2

In [ ]:
def son_kalann(son_kalan):
  if son_kalan <0 :
    return 0 
  else:
    return son_kalan

In [ ]:
son_kalann = df["son_kalan"].apply(son_kalann)
son_kalann

0      0
1      0
2      3
3      0
4      8
5      0
6      0
7      5
8      0
9      1
10     4
11     0
12     7
13     4
14    10
15    16
16     0
17     0
18     2
19     0
Name: son_kalan, dtype: int64

In [ ]:
df["son_kalan"] = son_kalann
df

,Musteri,Kod,Miktar,miktar_450,kalan_miktar_450,Sip_Mik,sip_450,kalan_sip_450,durum,kontrol,son_kalan
0,Mus1,MPA01,325,0,325,450,1,0,-125,False,0
1,Mus2,MPA02,900,2,0,1000,2,100,-100,False,0
2,Mus3,MPA03,2250,5,0,1000,2,100,1250,True,3
3,Mus4,MPA04,450,1,0,900,2,0,-450,False,0
4,Mus5,MPA05,4050,9,0,850,1,400,3200,True,8
5,Mus6,MPA06,2700,6,0,4500,10,0,-1800,False,0
6,Mus7,MPA07,300,0,300,900,2,0,-600,False,0
7,Mus8,MPA08,3000,6,300,450,1,0,2550,True,5
8,Mus9,MPA09,326,0,326,1350,3,0,-1024,False,0
9,Mus10,MPA10,900,2,0,600,1,150,300,True,1
10,Mus11,MPA11,2250,5,0,700,1,250,1550,True,4
11,Mus12,MPA12,450,1,0,800,1,350,-350,False,0
12,Mus13,MPA13,4050,9,0,900,2,0,3150,True,7
13,Mus14,MPA14,2700,6,0,1000,2,100,1700,True,4
14,Mus15,MPA15,5700,12,300,1100,2,200,4600,True,10
15,Mus16,MPA16,8400,18,300,1200,2,300,7200,True,16
16,Mus17,MPA17,327,0,327,1300,2,400,-973,False,0
17,Mus18,MPA18,900,2,0,1400,3,50,-500,False,0
18,Mus19,MPA19,2250,5,0,1500,3,150,750,True,2
19,Mus20,MPA20,450,1,0,1600,3,250,-1150,False,0

In [ ]:
df.drop(columns=["durum"])

,Musteri,Kod,Miktar,miktar_450,kalan_miktar_450,Sip_Mik,sip_450,kalan_sip_450,kontrol,son_kalan
0,Mus1,MPA01,325,0,325,450,1,0,False,0
1,Mus2,MPA02,900,2,0,1000,2,100,False,0
2,Mus3,MPA03,2250,5,0,1000,2,100,True,3
3,Mus4,MPA04,450,1,0,900,2,0,False,0
4,Mus5,MPA05,4050,9,0,850,1,400,True,8
5,Mus6,MPA06,2700,6,0,4500,10,0,False,0
6,Mus7,MPA07,300,0,300,900,2,0,False,0
7,Mus8,MPA08,3000,6,300,450,1,0,True,5
8,Mus9,MPA09,326,0,326,1350,3,0,False,0
9,Mus10,MPA10,900,2,0,600,1,150,True,1
10,Mus11,MPA11,2250,5,0,700,1,250,True,4
11,Mus12,MPA12,450,1,0,800,1,350,False,0
12,Mus13,MPA13,4050,9,0,900,2,0,True,7
13,Mus14,MPA14,2700,6,0,1000,2,100,True,4
14,Mus15,MPA15,5700,12,300,1100,2,200,True,10
15,Mus16,MPA16,8400,18,300,1200,2,300,True,16
16,Mus17,MPA17,327,0,327,1300,2,400,False,0
17,Mus18,MPA18,900,2,0,1400,3,50,False,0
18,Mus19,MPA19,2250,5,0,1500,3,150,True,2
19,Mus20,MPA20,450,1,0,1600,3,250,False,0

In [ ]:
df["son_kalan_kg"] = ((df['son_kalan'] *450) + df['kalan_miktar_450'] )
df

,Musteri,Kod,Miktar,miktar_450,kalan_miktar_450,Sip_Mik,sip_450,kalan_sip_450,durum,kontrol,son_kalan,son_kalan_kg
0,Mus1,MPA01,325,0,325,450,1,0,-125,False,0,325
1,Mus2,MPA02,900,2,0,1000,2,100,-100,False,0,0
2,Mus3,MPA03,2250,5,0,1000,2,100,1250,True,3,1350
3,Mus4,MPA04,450,1,0,900,2,0,-450,False,0,0
4,Mus5,MPA05,4050,9,0,850,1,400,3200,True,8,3600
5,Mus6,MPA06,2700,6,0,4500,10,0,-1800,False,0,0
6,Mus7,MPA07,300,0,300,900,2,0,-600,False,0,300
7,Mus8,MPA08,3000,6,300,450,1,0,2550,True,5,2550
8,Mus9,MPA09,326,0,326,1350,3,0,-1024,False,0,326
9,Mus10,MPA10,900,2,0,600,1,150,300,True,1,450
10,Mus11,MPA11,2250,5,0,700,1,250,1550,True,4,1800
11,Mus12,MPA12,450,1,0,800,1,350,-350,False,0,0
12,Mus13,MPA13,4050,9,0,900,2,0,3150,True,7,3150
13,Mus14,MPA14,2700,6,0,1000,2,100,1700,True,4,1800
14,Mus15,MPA15,5700,12,300,1100,2,200,4600,True,10,4800
15,Mus16,MPA16,8400,18,300,1200,2,300,7200,True,16,7500
16,Mus17,MPA17,327,0,327,1300,2,400,-973,False,0,327
17,Mus18,MPA18,900,2,0,1400,3,50,-500,False,0,0
18,Mus19,MPA19,2250,5,0,1500,3,150,750,True,2,900
19,Mus20,MPA20,450,1,0,1600,3,250,-1150,False,0,0

In [ ]:
dff = df.loc[0:19,["Musteri","kontrol"]]
dff

   Musteri  kontrol
0     Mus1    False
1     Mus2    False
2     Mus3     True
3     Mus4    False
4     Mus5     True
5     Mus6    False
6     Mus7    False
7     Mus8     True
8     Mus9    False
9    Mus10     True
10   Mus11     True
11   Mus12    False
12   Mus13     True
13   Mus14     True
14   Mus15     True
15   Mus16     True
16   Mus17    False
17   Mus18    False
18   Mus19     True
19   Mus20    False

In [ ]:
dff.drop(dff[dff['kontrol'] == True].index, inplace=True)
dff

   Musteri  kontrol
0     Mus1    False
1     Mus2    False
3     Mus4    False
5     Mus6    False
6     Mus7    False
8     Mus9    False
11   Mus12    False
16   Mus17    False
17   Mus18    False
19   Mus20    False